<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a asp-controller="Home" asp-action="Index" class="active">Домой</a></li>
    <li class="dropdown">
        <a asp-controller="Shop" asp-action="ShopIndex">Магазин<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Shop" asp-action="ShopIndex">Каталог товаров</a></li>
            @*<li><a asp-controller="ProductDetails" asp-action="ProductDetailsIndex">Подробности товара</a></li>*@
            <li><a asp-controller="CheckOut" asp-action="CheckOutIndex">Checkout</a></li>
            <li><a asp-controller="Cart" asp-action="CartIndex">Корзина</a></li>
            @*<li><a asp-controller="Login" asp-action="SignInUser">LogIn</a></li>*@
        </ul>
    </li>
    <li class="dropdown">
        <a asp-controller="Blogs" asp-action="Index">Блоги<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Blogs" asp-action="Index">Блоги покупателей</a></li>
            <li><a asp-controller="Blogs" asp-action="BlogSingle">Блог магазина</a></li>
        </ul>
    </li>
    <li><a asp-controller="Home" asp-action="Index">404</a></li>
    <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
    <li><a asp-controller="ContactUs" asp-action="ContactUsIndex">Связь с нами!</a></li>
</ul>